/* ============================
   ANALISIS MM
============================ */

.page-analisis-mm select.multi-select{
  width: 260px;
  min-height: 140px;
  padding: 6px;
}

/* rubros alertas */
.table td.rubro-alert{
  color:#ef4444 !important;
  font-weight:700;
}
